<div class="card-container ">
  <div class="container">
    <from class="group mt-3 ">
      <div class="form-group">
        <select class="form-control" id="exampleFormControlSelect1">
          <option selected>月份</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <select class="form-control" id="exampleFormControlSelect1">
          <option selected>類別</option>
          {{#each category}}
          <option>{{this.name}}</option>
          {{/each}}
        </select>
      </div>
    </from>
    <div class="totalamount m-1 mb-3 dark-style ">
      <div class="totalamount-title"> 總金額：</div>
      <div class="amount">0</div>
    </div>
    <a class="create-item m-0" href="/expense/add">
      <button type="button" class="btn btn-warning create-btn">記帳囉</button>
    </a>
    <ul class="item-group px-0 dark-style">
      {{#each records}}

      <li class="item light-item {{#unless this.indexBoolean}}dark-item{{/unless}} my-3 ">
        <div class="item-container row">
          <div class="item-info col-8 mt-1 row ">
            <i class="fas {{this.icon}} col-1"></i>
            <div class="category col-8">{{this.item}}</div>
          </div>
          <div class="cash col-2">{{this.amount}}</div>
          <div class="feature-btn col-2">
            <a class="edit mr-2" href="/expense/{{this._id}}/edit">
              <i class="fas fa-edit"></i>
            </a>
            <from action="/expense/{{this._id}}/delete" cless="delete">
              <button type="submit" class="deleteBtn dark-style"><i class="fas fa-trash-alt"></i></button>
            </from>
          </div>
          <div class='info-data'>{{this.date}}</div>

        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>


{{!-- <li class="item dark-item my-2 row ">
  <div class="item-info col-10 row ">
    <i class="fas fa-utensils col-1"></i>
    <div class="category col-8">午餐</div>
    <div class="cash col-1">60</div>
  </div>
  <div class="edit col-2">
    <i class="fas fa-edit"></i>
  </div>
  <div cless="delete col-2">
    <i class="fas fa-trash-alt"></i>
  </div>
</li>
<li class="item light-item my-2 row ">
  <div class="item-info col-10 row ">
    <i class="fas fa-shuttle-van col-1"></i>
    <div class="category col-8">火車</div>
    <div class="cash col-1">60</div>
  </div>
  <div class="edit col-2">
    <i class="fas fa-edit"></i>
  </div>
  <div cless="delete col-2">
    <i class="fas fa-trash-alt"></i>
  </div>
</li>
<li class="item dark-item my-2 row ">
  <div class="item-info col-10 row ">
    <i class="fas fa-grin-beam col-1"></i>
    <div class="category col-8">看電影</div>
    <div class="cash col-1">120</div>
  </div>
  <div class="edit col-2">
    <i class="fas fa-edit"></i>
  </div>
  <div cless="delete col-2">
    <i class="fas fa-trash-alt"></i>
  </div>
</li>
<li class="item light-item my-2 row ">
  <div class="item-info col-10 row ">
    <i class="fas fa-pen col-1"></i>
    <div class="category col-8">雜記</div>
    <div class="cash col-1">60</div>
  </div>
  <div class="edit col-2">
    <i class="fas fa-edit"></i>
  </div>
  <div cless="delete col-2">
    <i class="fas fa-trash-alt"></i>
  </div>
</li> --}}